*{
  margin: 0;
}

body{
  background-color: #858585;
}
.brand{
  height: 50px;
}
.listaAnclas{
  display: flex;
  flex-direction: row;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: space-evenly;
}
.navegador{
  background-color: #D04392;
}
.lista{
  padding: 20px;
  list-style: none;
}
.ancla{
  text-decoration: none;
  color: #000;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}
.imgCarrito{
  height: 30px;
}
.titulo{
  display: flex;
  justify-content: center;
}
 .productos{
  display: flex;
  justify-content: center;
}
.contador{
  display: flex;
  flex-direction: row;
}
.suma, .resta{
  padding: 10px;
  margin: 10px;
  
}

.potus, .cantidadSeleccionada{
  color: aliceblue;
} 
.potusImg{
  width: 200px;
}