*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0A0800;
}


.titulo, .subtitulo{
  display: flex;
  justify-content: center;
  color: #735702;
  font-family: 'Abril Fatface', cursive;
  
}

